:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-2: #29180f;
  --color-black-3: #3a2215;
  --color-green: #89d3d1;
  --color-green-2: #e1ede9;
  --color-orange: #f0dacd;
  --color-orange-2: #f7f2ec;
  --color-bronze: #bf8b70;
  --color-ogre: #baa370;
  --color-yellow: #c9b079;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, serif;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
  width: 38px;
  text-align: right;

  font-weight: 600;
  font-style: italic;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  font-weight: 500;
}

.nav-header a,
.header-icons a {
  text-decoration: none;
  color: var(--color-black-2);
}

.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.header-btn {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 8px 20px;
  border-radius: 18px;
}

.spacial-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--color-orange);
}

.spacial-offer p {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-black);
}

/* home */
.banner {
  width: 100%;
  height: 628px;
  background: url('./public/assets/banner.png') no-repeat center center;
  background-size: cover;
}

.banner-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 80px;
}

.offer,
.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  height: 100%;
  margin-top: -20px;
}

.offer {
  width: 35%;
  border-bottom-left-radius: 60px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.discount {
  width: 50%;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  color: var(--color-white);
  background: linear-gradient(
    to bottom,
    var(--color-white) 0px,
    var(--color-white) 10px,
    var(--color-bronze) 0px,
    var(--color-bronze) 100%
  );
  margin-left: -45px;
}

/* novelty */
.novelty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-orange-2);
}

.novelty-title {
  font-size: 48px;
  font-weight: 600;
  margin-top: 36px;
  width: 80%;
  text-align: center;
  margin-bottom: 0;
}

.novelty-paragraph {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  width: 70%;
  text-align: center;
}

.novelty-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.novelty-card {
  width: 390px;
  height: 490px;
  border: 3px solid var(--color-white);
  border-radius: 28px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.novelty-card img {
  width: 100%;
  height: 354px;
}

.novelty-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.novelty-card-text p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 80%;
  margin-top: 5px;
}

/* divider */
.divider-novelty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 123px;
  background-color: var(--color-orange-2);
  margin-top: -20px;
}

.divider-novelty-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
  width: 500px;
  height: 67px;
  border-radius: 62px;
  border: 3px solid var(--color-ogre);
}

.divider-novelty-container-img {
  width: 90px;
  height: 58px;
}

.divider-novelty-container-text {
  font-weight: 500;
  font-size: 36px;
  font-style: italic;
  margin-left: -30px;
}

/* brands */
.brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-orange-2);
  gap: 20px;
}

.brands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.brand-card {
  display: flex;
  flex-direction: column;
  width: 302px;
  height: auto;
  border: 3px solid var(--color-white);
  border-radius: 28px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.brand-card img {
  width: 100%;
  height: 236px;
  margin-bottom: 20px;
}

.brand-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 0 0 20px 20px;
}

.brand-card-text h3,
.brand-card-text span {
  margin: 10px 0;
}

.explore-now-btn {
  background-color: var(--color-ogre);
  color: var(--color-white);
  width: 237px;
  height: 48px;
  padding: 8px 20px;
  border: 2px solid var(--color-white);
  border-radius: 29px;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.35);
  margin-bottom: 20px;
  gap: 8px;
}

/* rating */
.rating {
  display: flex;
  gap: 4px;
  margin: 5px 0;
}

.star {
  position: relative;
  width: 15px;
  height: 14px;
}

/* gift cards */
.gift-cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1ede9;
}

.gift-cards-title {
  display: flex;
  margin-top: 63px;
  margin-bottom: 108px;
}

.gift-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-yellow);
  border-radius: 31px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  width: 378px;
  height: 198px;
}

.gift-card h3 {
  margin: 5px 0;
}

.gift-card p {
  padding: 0 20px;
  text-align: center;
}

.gift-card img {
  width: 63px;
  height: 63px;
}

.gift-cards-slider {
  overflow: hidden;
  width: 100%;
  margin-bottom: 44px;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-around;
}

.slider-markers {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.slider-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: background-color 0.3s ease;
  margin-top: 44px;
}

.slider-marker.active {
  background-color: var(--color-black-3);
}

@media screen and (max-width: 480px) {
  .spacial-offer p {
    font-size: 8px;
  }

  .logo img {
    width: 30px;
  }

  .logo-text {
    font-size: 14px;
  }

  .header-icons {
    display: none;
  }

  .header-btn {
    font-size: 10px;
    padding: 4px 10px;
  }

  .offer,
  .discount {
    font-size: 8px;
    margin-top: -40px;
    height: 50%;
  }

  .discount {
    background: linear-gradient(
      to bottom,
      var(--color-white) 0px,
      var(--color-bronze) 0px,
      var(--color-bronze) 100%
    );
    margin-left: -45px;
  }

  .novelty-title {
    font-size: 20px;
  }

  .novelty-paragraph {
    font-size: 12px;
  }

  .novelty-card img {
    width: 100%;
    height: auto;
  }

  .novelty-card-text p {
    font-size: 12px;
  }

  .divider-novelty-container {
    width: 245px;
    height: auto;
  }

  .divider-novelty-container-img {
    width: 70px;
    height: auto;
  }

  .divider-novelty-container-text {
    font-weight: 400;
    font-size: 16px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .spacial-offer p {
    font-size: 12px;
  }

  .banner {
    height: 400px;
  }

  .offer,
  .discount {
    font-size: 14px;
  }

  .novelty-title {
    font-size: 26px;
  }

  .novelty-paragraph {
    font-size: 14px;
  }

  .novelty-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap !important;
  }

  .novelty-card {
    width: 90% !important;
    max-width: 300px;
    height: auto;
  }

  .novelty-card img {
    width: 100%;
    height: auto;
  }

  .novelty-card-text p {
    font-size: 14px;
  }

  .divider-novelty-container {
    width: 280px;
    height: auto;
  }

  .divider-novelty-container-img {
    width: 80px;
    height: auto;
  }

  .divider-novelty-container-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .spacial-offer p {
    font-size: 14px;
  }

  .banner {
    height: 500px;
  }

  .offer,
  .discount {
    font-size: 18px;
  }

  .novelty-title {
    font-size: 36px;
  }

  .novelty-paragraph {
    font-size: 16px;
  }

  .divider-novelty-container {
    width: 300px;
    height: auto;
  }

  .divider-novelty-container-text {
    font-size: 22px;
  }
}
