:root {
  --text-color-black: #000000;
  --text-color-black-2: #29180f;

  --color-white: #ffffff;
  --color-green: #89d3d1;
  --color-orange: #f0dacd;
  --color-orange-2: #f7f2ec;
  --color-bronze: #bf8b70;
  --color-ogre: #baa370;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, serif;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
  width: 38px;
  text-align: right;

  font-weight: 600;
  font-style: italic;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  font-weight: 500;
}

.nav-header a,
.header-icons a {
  text-decoration: none;
  color: var(--text-color-black-2);
}

.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.header-btn {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 8px 20px;
  border-radius: 18px;
}

.spacial-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--color-orange);
}

.spacial-offer p {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color-black);
}

/* home */

.banner {
  width: 100%;
  height: 628px;
  background: url('./public/assets/banner.png') no-repeat center center;
  background-size: cover;
}

.banner-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 80px;
}

.offer,
.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  height: 100%;
  margin-top: -20px;
}

.offer {
  width: 35%;
  border-bottom-left-radius: 60px;
  color: var(--text-color-black);
  background-color: var(--color-white);
}

.discount {
  width: 50%;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  color: var(--color-white);
  background: linear-gradient(
    to bottom,
    var(--color-white) 0px,
    var(--color-white) 10px,
    var(--color-bronze) 0px,
    var(--color-bronze) 100%
  );
  margin-left: -45px;
}

/* novelty */

.novelty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-orange-2);
}

.novelty-title {
  font-size: 48px;
  font-weight: 600;
  margin-top: 36px;
  width: 80%;
  text-align: center;
  margin-bottom: 0;
}

.novelty-paragraph {
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  width: 70%;
  text-align: center;
}

.novelty-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.novelty-card {
  width: 390px;
  height: 490px;
  border: 3px solid var(--color-white);
  border-radius: 28px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.novelty-card img {
  width: 100%;
  height: 354px;
}

.novelty-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.novelty-card-text p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 80%;
  margin-top: 5px;
}

@media screen and (max-width: 480px) {
  .spacial-offer p {
    font-size: 8px;
  }

  .logo img {
    width: 30px;
  }

  .logo-text {
    font-size: 14px;
  }

  .header-icons {
    display: none;
  }

  .header-btn {
    font-size: 10px;
    padding: 4px 10px;
  }

  .offer,
  .discount {
    font-size: 8px;
    margin-top: -40px;
    height: 50%;
  }

  .discount {
    background: linear-gradient(
      to bottom,
      var(--color-white) 0px,
      var(--color-bronze) 0px,
      var(--color-bronze) 100%
    );
    margin-left: -45px;
  }

  .novelty-title {
    font-size: 20px;
  }

  .novelty-paragraph {
    font-size: 12px;
  }

  .novelty-card img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .spacial-offer p {
    font-size: 12px;
  }

  .banner {
    height: 400px;
  }

  .offer,
  .discount {
    font-size: 14px;
  }

  .novelty-title {
    font-size: 26px;
  }

  .novelty-paragraph {
    font-size: 14px;
  }

  .novelty-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap !important;
  }

  .novelty-card {
    width: 90% !important;
    max-width: 300px;
    height: auto;
  }

  .novelty-card img {
    width: 100%;
    height: auto;
  }

  .novelty-card-text p {
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .spacial-offer p {
    font-size: 14px;
  }

  .banner {
    height: 500px;
  }

  .offer,
  .discount {
    font-size: 18px;
  }

  .novelty-title {
    font-size: 36px;
  }

  .novelty-paragraph {
    font-size: 16px;
  }
}
